.container[b-e2l8jl2327] {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.ml-2[b-e2l8jl2327] {
    margin-left: 10px;
}

.mb-4[b-e2l8jl2327] {
    margin-bottom: 20px;
}

.mb-0[b-e2l8jl2327] {
    margin-bottom: 0;
}
.btn[b-e2l8jl2327]{
    background-color:red;
}