.container {
    max-width: 1000px;
    margin: 0 auto;
    padding: 20px;
}

.ml-2 {
    margin-left: 10px;
}

.mb-4 {
    margin-bottom: 20px;
}

.mb-0 {
    margin-bottom: 0;
}
.btn{
    background-color:red;
}